@media only screen and (max-width:1120px) {
    .flax-b-right section {
        width: 70%;
        margin-left: 30px;
    }
}

@media only screen and (max-width:991px) {
    .keyf-part-container {
        flex-direction: column;
    }
    .key-f-taital {
        color: rgb(0, 0, 0);
        width: 80vh;
        font-size: 1rem;
    }
    .k-p-box {
        width: 90%;
        height: 120vh;
        margin: auto;
        overflow: hidden;
    }
    .k-p-box-left {
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        align-content: center;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }
    .flax-b-container {
        margin: auto;
        width: 70%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    .it-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1px;
    }
    .it-box {
        width: 100%;
        text-align: center;
    }
    .it-area {
        width: 100%;
        height: 150vh;
    }
    .it-2-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1px;
    }
    .it-2-box {
        width: 100%;
        text-align: center;
    }
    .it-area-2 {
        width: 100%;
        height: 150vh;
    }
}

@media only screen and (max-width:802px) {
    .k-p-box {
        width: 90vw;
        height: 90vh;
        margin: auto;
        overflow: hidden;
    }
    .k-p-box-left {
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        align-content: center;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }
    .it-area {
        height: 150vh;
    }
    .it-area-2 {
        height: 150vh;
    }
}

@media only screen and (max-width: 768px) {
    .hero-row {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    .hero-left {
        display: grid;
        grid-template-rows: 50vh;
    }
    .hero-right {
        display: grid;
        grid-template-rows: 50vh;
    }
    .key-f-taital {
        color: rgb(0, 0, 0);
        width: 70vh;
        font-size: 1rem;
    }
    .k-p-box {
        width: 90vw;
        height: 90vh;
        margin: auto;
        overflow: hidden;
    }
    .k-p-box-left {
        display: grid;
        row-gap: 10px;
        column-gap: 10px;
        align-content: center;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media only screen and (max-width:611px) {
    .k-p-box {
        width: 80vw;
        height: 100vh;
        margin: auto;
        overflow: hidden;
    }
    .k-p-box-left {
        display: grid;
        height: 150vh;
        row-gap: 10px;
        column-gap: 10px;
        align-content: center;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media only screen and (max-width:575px) {
    .key-f-taital h2 {
        font-size: 2rem;
    }
    .key-f-taital {
        color: rgb(0, 0, 0);
        width: 50vw;
        height: auto;
        margin: auto;
        overflow: hidden;
        text-transform: capitalize;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 5px;
    }
    .k-p-box {
        width: 80vw;
        height: 100vh;
        margin: auto;
        overflow: hidden;
    }
    .k-p-box-left {
        display: grid;
        height: 150vh;
        row-gap: 10px;
        column-gap: 10px;
        align-content: center;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media only screen and (max-width:493px) {
    .k-p-box {
        width: 80vw;
        height: 100vh;
        margin: auto;
        overflow: hidden;
    }
    .k-p-box-left {
        display: grid;
        height: 150vh;
        row-gap: 10px;
        column-gap: 10px;
        align-content: center;
        margin: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }
}


/*prodact secsion */

@media only screen and (max-width:1020px) {
    .p-b-i {
        margin-left: 25%;
        font-size: 1.8rem;
        padding: 15px;
        border-radius: 50%;
    }
    .p-box section p {
        font-size: 1rem;
        padding-top: 20px;
        text-align: center;
        font-weight: 900;
    }
}

@media only screen and (max-width:991px) {
    .p-box-2 {
        grid-column: 4/12;
        grid-row: 1/11;
    }
    .p-box-3 {
        grid-column: 6/9;
        grid-row: 5/7;
    }
    .p-box-4 {
        grid-column: 9/12;
        grid-row: 5/7;
    }
    .p-box-5 {
        grid-column: 6/9;
        grid-row: 7/9;
    }
    .p-box-6 {
        grid-column: 9/12;
        grid-row: 7/9;
    }
    .p-b-i {
        margin-left: 35%;
        font-size: 1.2rem;
        padding: 12px;
        border-radius: 50%;
    }
    .p-box section p {
        font-size: 1rem;
        padding-top: 25px;
        text-align: center;
        font-weight: 900;
    }
}

@media only screen and (max-width:880px) {
    .p-box-2 {
        grid-column: 4/12;
        grid-row: 1/11;
    }
    .p-box-3 {
        grid-column: 4/8;
        grid-row: 5/7;
    }
    .p-box-4 {
        grid-column: 8/12;
        grid-row: 5/7;
    }
    .p-box-5 {
        grid-column: 4/8;
        grid-row: 7/9;
    }
    .p-box-6 {
        grid-column: 8/12;
        grid-row: 7/9;
    }
    .p-b-i {
        margin-left: 35%;
        font-size: 1.2rem;
        border-radius: 50%;
    }
    .p-box section p {
        font-size: 1rem;
        padding-top: 25px;
        text-align: center;
        font-weight: 900;
    }
}

@media only screen and (max-width:775px) {
    .prodact-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .p-box-1 {
        grid-row: 2/7;
        grid-column: 1/10;
    }
    .p-box-2 {
        grid-column: 3/11;
        grid-row: 1/12;
    }
    .p-box-3 {
        grid-column: 3/7;
        grid-row: 5/8;
    }
    .p-box-4 {
        grid-column: 7/11;
        grid-row: 5/8;
    }
    .p-box-5 {
        grid-column: 3/7;
        grid-row: 8/11;
    }
    .p-box-6 {
        grid-column: 7/11;
        grid-row: 8/11;
    }
}

.p-b-i {
    margin-left: 37%;
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 50%;
}

.p-box section p {
    font-size: 1rem;
    padding-top: 25px;
    text-align: center;
    font-weight: 900;
}

@media only screen and (max-width:575px) {
    .prodact-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    .p-box-1 {
        grid-row: 2/7;
        grid-column: 1/5;
    }
    .p-box-2 {
        grid-column: 2/6;
        grid-row: 1/12;
    }
    .p-box-3 {
        grid-column: 2/5;
        grid-row: 6/10;
    }
    .p-box-4 {
        grid-column: 2/5;
        grid-row: 10/15;
    }
    .p-box-5 {
        grid-column: 2/5;
        grid-row: 15/20;
    }
    .p-box-6 {
        grid-column: 2/5;
        grid-row: 20/25;
    }
    .p-b-i {
        margin-left: 37%;
        font-size: 2rem;
        padding: 12px;
        border-radius: 50%;
    }
    .p-box section p {
        font-size: 1.5rem;
        padding-top: 25px;
        text-align: center;
        font-weight: 900;
    }
}


/*prodact  secsion end  */